<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/login"></ion-back-button>
          </ion-buttons>
      <ion-title>
        Reimposta Password
      </ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content>

  <br>
  

    <div class="ion-icon">
        <ion-icon name="sync" color="danger"></ion-icon>
      </div>
  
  <form [formGroup]="resetPasswordForm">
    <div>
    <ion-item class="center">
        <ion-label position="stacked">Email</ion-label>
        <ion-input
        formControlName="email"
        type="email"
        placeholder="La tua mail"
        [class.invalid]="!resetPasswordForm.controls['email'].valid &&
        resetPasswordForm.controls['email'].touched"
        >
      </ion-input>
    </ion-item>
    <ion-item class="center"
    class="error-message"
    *ngIf="!resetPasswordForm.controls['email'].valid &&
    resetPasswordForm.controls['email'].touched"
    >
        <ion-label>Inserisci una mail valida.</ion-label>
      </ion-item>
      
    </div>

    <br>

    <div class="button-center">
        <ion-button color="danger" slot="end" (click)="resetPassword(resetPasswordForm)" [disabled]="!resetPasswordForm.valid">
        Reimposta
      </ion-button>
    </div>
      
    </form>
  </ion-content>