<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista Prodotti
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="aggiungiNuovoProdotto()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item-sliding *ngFor="let prodotto of listaProdotti" class="item ios in-list ion-focusable item-label hydrated"> 
      <ion-item  (click)="openModal(prodotto.id)">
        <ion-avatar slot="start" class="ios hydrated">
          <img src={{prodotto.linkImmagine}}>
        </ion-avatar>
        <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
          <h2 style="font-weight: bold">{{prodotto.nome}}</h2>
          <h3 style="font-style: italic">{{prodotto.descrizione}}</h3>
        </ion-label>
        <ion-note slot="end" style="font-size: medium"> € {{prodotto.prezzo}}
        </ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="modificaProdotto(prodotto.id)">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="presentAlertConfirm(prodotto.id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-content>