<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Lista Personale</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list padding>
    <ion-item *ngFor="let personale of listaPersonale" (click)="openModalPersonale(personale.id)">
      <ion-label>{{personale.nome}} {{personale.cognome}}
        <p>
          {{personale.email}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="aggiungiNuovoPersonale()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>