<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="ordini">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Ordini</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lista-prodotti">
      <ion-icon name="restaurant"></ion-icon>
      <ion-label>Lista Prodotti</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profilo">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Profilo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
