<ion-header>
  <ion-toolbar>
    <ion-title>
      Profilo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card class="sc-ion-card-ios-h sc-ion-card-ios-s ios hydrated">
  <img src="https://image.ibb.co/jRkLL8/personale_red.png">
  <ion-card-header class="ios hydrated">
    <ion-card-subtitle class="ios hydrated" role="heading" aria-level="3">Personale</ion-card-subtitle>
    <ion-card-title class="ios hydrated" role="heading" aria-level="2">Rosaria Fuschino</ion-card-title>
  </ion-card-header>
  <ion-card-content class="ios card-content-ios hydrated">
    e-mail: --------------
  </ion-card-content>
</ion-card>