<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Modifica Profilo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>

  <div class="ion-padding">
    <ion-item class="text-center">
      <ion-label position="stacked">Nome:</ion-label>
      <ion-input id="nomeProdotto" [(ngModel)]="utente.nome"></ion-input>
    </ion-item>

    <ion-item class="text-center">
      <ion-label position="stacked">Cognome:</ion-label>
      <ion-textarea id="descrizioneProdotto" [(ngModel)]="utente.cognome">
      </ion-textarea>
    </ion-item>

    <ion-item class="text-center">
      <ion-label position="stacked">Email:</ion-label>
      <ion-input id="prezzo" [(ngModel)]="utente.email"></ion-input>
    </ion-item>

    <br>

    <ion-button color="danger" class="center" (click)="modificaProfilo()" slot="end">MODIFICA</ion-button>

  </div>
</ion-content>