<ion-header>
  <ion-toolbar>
    <ion-title>
      <p style="text-align: center">Uni<b style="color: red">Food</b></p>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<br>

  <div class="center" margin-top="10px">
    <img src="https://image.ibb.co/kUDC9d/CIAO_copy.png">
  </div>

  <br>

  <div class="ion-padding">
    <ion-item>
      <ion-input id="username" placeholder="Username"></ion-input>
    </ion-item>

    <br>

    <ion-item>
      <ion-input id="password" placeholder="Password" type="password"></ion-input>
    </ion-item>

    <br>
    <br>

    <ion-button color="danger" class="center" slot="end">ACCEDI</ion-button>

  </div>

</ion-content>