<ion-header>
      <ion-title>
        <p style="text-align: center; font-size: 25px; color: black">Uni<b style="color: red">Food</b></p>
  
      </ion-title>
  </ion-header>

  <br>

<ion-content>
  <div class="center-image" margin-top="10px">
    <img src="https://image.ibb.co/kUDC9d/CIAO_copy.png">
  </div>
  <br>

  <div>
    <form [formGroup]="loginForm">
      <ion-item class="center">
        <ion-input formControlName="email" type="email" placeholder="Il tuo indirizzo email" [class.invalid]="!loginForm.controls['email'].valid &&
      loginForm.controls['email'].touched">
        </ion-input>
      </ion-item>

      <ion-item class="error-message" *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].touched">
        <ion-label style="text-align: center">Inserisci una mail valida.</ion-label>
      </ion-item>

      <ion-item class="center" >
        <ion-input formControlName="password" type="password" placeholder="La tua password"
          [class.invalid]="!loginForm.controls['password'].valid&& loginForm.controls['password'].touched">
        </ion-input>
      </ion-item>

      <ion-item class="error-message" *ngIf="!loginForm.controls['password'].valid
      && loginForm.controls['password'].touched">
        <ion-label style="text-align: center">La tua password deve avere almeno 6 caratteri.</ion-label>
      </ion-item>

    </form>
  </div>

  <div class="button-center">
    <ion-button color="danger" slot="end" (click)="loginUser(loginForm)" [disabled]="!loginForm.valid">
      ACCEDI
    </ion-button>
  </div>


  <br>
  <br>

  <div class="button-center">
  <ion-button expand="block" fill="clear" style="font-size: 10px; display: inline-block" routerLink="/signup">
    Registrati!
  </ion-button>

  <br>

  <ion-button expand="block" fill="clear" style="font-size: 10px; display: inline-block" routerLink="/reset-password">
    Ho dimenticato la mia password 🙁
  </ion-button>
</div>
</ion-content>