<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="secondary">
      <ion-button (click)="filtraOrdini()">
        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" [(ngModel)]="tipo"
          (ngModelChange)="filtraOrdini()">
          <ion-select-option selected="Tutti" id="ion-selopt-0" value="Tutti">Tutti
          </ion-select-option>
          <ion-select-option role="option" id="ion-selopt-1" value="Primo piatto">Primo Piatto
          </ion-select-option>
          <ion-select-option role="option" id="ion-selopt-2" value="Secondo piatto">Secondo Piatto
          </ion-select-option>
          <ion-select-option role="option" id="ion-selopt-3" value="Bibita">Bibita
          </ion-select-option>
        </ion-select>
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Ordini
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment [(ngModel)]="whichPage" color="danger" padding>
    <ion-segment-button style="font-size: 15px" value="non-completati">
      <ion-label>Non completati</ion-label>
    </ion-segment-button>

    <ion-segment-button style="font-size: 15px" value="completati">
      <ion-label>Completati</ion-label>
    </ion-segment-button>
  </ion-segment>


  <div [ngSwitch]="whichPage">
    <ion-list *ngSwitchCase="'non-completati'">

      <ion-grid>
        <div *ngFor="let ordine of listaOrdini; let i=index">
          <div *ngFor="let utente of listaUtenti">
            <ion-row *ngIf="ordine.stato == false && ordine.idCliente == utente.id">

              <ion-col size="10">
                <ion-item>
                  <ion-label>
                      Ordine {{i+1}}
                    <p>
                        {{utente.nome}} {{utente.cognome}}
                    </p>
                  </ion-label>
                </ion-item>
              </ion-col>

              <ion-col size="2" align-self-center text-center>
                <ion-checkbox (click)="presentAlertConfirm(ordine)" [(ngModel)]="ordine.isChecked"></ion-checkbox>
              </ion-col>

            </ion-row>
          </div>
        </div>
      </ion-grid>
    </ion-list>
  </div>

  <div [ngSwitch]="whichPage">
    <ion-list *ngSwitchCase="'completati'">
      <div *ngFor="let ordine of listaOrdini">
        <div *ngFor="let utente of listaUtenti">
          <ion-row *ngIf="ordine.stato == true && ordine.idCliente == utente.id">

            <ion-item>
              <ion-label> {{ordine.idProdotto}}
                <p>
                    {{utente.nome}} {{utente.cognome}}
                </p>
              </ion-label>
            </ion-item>

          </ion-row>
        </div>
      </div>
    </ion-list>
  </div>

</ion-content>



<!--- <ion-segment ion-padding>
    <ion-segment-button href="#completati" value="completati">
      <ion-label>Non Completati</ion-label>
    </ion-segment-button>
    <ion-segment-button href="#noncompletati" value="noncompletati">
      <ion-label>Completati</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-content *ngIf="value === 'completati'">

    <ion-item-sliding class="ios hydrated" *ngFor="let ordine of listaOrdini">
      <ion-item *ngIf="ordine.stato == false">
        <ion-label>{{ordine.idCliente}}
          <p>
            {{ordine.idProdotto}}
          </p>
        </ion-label>
        <ion-checkbox slot="end" (ionChange)="presentAlertConfirm(ordine)" checked="{{isChecked}}"></ion-checkbox>
      </ion-item>
    </ion-item-sliding>

  </ion-content>


  <ion-content *ngIf="value === 'completati'">

    <ion-item-sliding class="ios hydrated" *ngFor="let ordine of listaOrdini">
      <ion-item *ngIf="ordine.stato == true">
        <ion-label>{{ordine.idCliente}}
          <p>
            {{ordine.idProdotto}}
          </p>
        </ion-label>
      </ion-item>
    </ion-item-sliding>

  </ion-content>
</ion-content>-->