<ion-header>
  <ion-toolbar>
    <ion-title>
      Ordini
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar color="danger" style="height: max-content">
    <ion-title style="text-shadow: black">DA COMPLETARE</ion-title>
    <ion-icon slot="end" style="margin-right: 10px" name="arrow-dropdown-circle">
    </ion-icon>
  </ion-toolbar>

  <ion-item-sliding class="ios hydrated" *ngFor="let ordine of listaOrdini">
    <ion-item *ngIf="ordine.stato == false">
      <ion-label >{{ordine.idCliente}}
        <p>
          {{ordine.idProdotto}}
        </p>
      </ion-label>
      <ion-checkbox slot="end" (ionChange)="presentAlertConfirm(ordine)" checked="{{isChecked}}"></ion-checkbox>
    </ion-item>
  </ion-item-sliding>

  <ion-toolbar color="success">
    <ion-title style="text-shadow: black">COMPLETATI</ion-title>
    <ion-icon slot="end" style="margin-right: 10px" name="arrow-dropdown-circle">
    </ion-icon>
  </ion-toolbar>

  <ion-item-sliding class="ios hydrated" *ngFor="let ordine of listaOrdini">
      <ion-item *ngIf="ordine.stato == true">
        <ion-label >{{ordine.idCliente}}
          <p>
            {{ordine.idProdotto}}
          </p>
        </ion-label>
      </ion-item>
    </ion-item-sliding>

</ion-content>