<ion-content>

  <br>
        
  <h6  style="text-align: center">
    Inserisci qui <b>Email</b> e <b>Password</b> per cominciare ad usare
  </h6>

  <h1 style="text-align: center; color: black">Uni<b style="color: red">Food</b></h1>


    <div class="ion-padding" style="margin-top: 50px">
  <form [formGroup]="signupForm">
    <ion-item class="center" >
      <ion-input
        formControlName="email"
        type="email"
        placeholder="Your email address"
        [class.invalid]="!signupForm.controls['email'].valid && signupForm.controls['email'].touched"
      >
      </ion-input>
    </ion-item>
    <ion-item
      class="error-message"
      *ngIf="!signupForm.controls['email'].valid
      && signupForm.controls['email'].touched"
    >
      <ion-label style="text-align: center">Please enter a valid email.</ion-label>
    </ion-item>

    <ion-item class="center" >
      <ion-input
        formControlName="password"
        type="password"
        placeholder="Your password"
        [class.invalid]="!signupForm.controls['password'].valid && signupForm.controls['password'].touched"
      >
      </ion-input>
    </ion-item>
    <ion-item
      class="error-message"
      *ngIf="!signupForm.controls['password'].valid  &&
      signupForm.controls['password'].touched"
    >
      <ion-label style="text-align: center">Your password needs more than 6 characters.</ion-label>
    </ion-item>

    <br>
  </form>
  </div>

  <div class="button-center">
      <ion-button color="danger" slot="end" (click)="signupUser(signupForm)" [disabled]="!signupForm.valid">
          Crea Account
        </ion-button>
  </div>
</ion-content>