<ion-header>
    <ion-toolbar color="danger">
      <ion-title>Birbantello!</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>


    <div class="center-image" margin-top="10px">
        <img src="https://appstickers-cdn.appadvice.com/1214724809/823400943/a1ffd646c00bb8f640f9c2d99c3b4973-0.jpg">
      </div>

      <br>

      <h4  style="text-align: center">
          Clicca qui per tornare indietro nella tua sezione!
        </h4>

        <br>

        <div class="button-center">
            <ion-button color="danger" slot="end" (click)="back()">
                Torna indietro
            </ion-button>
        </div>

</ion-content>
