.modal-image {
    width: 100%;
    border-radius: 10px;
}

.price {
    width: 100%;
    margin-top: 15px;
    text-align: center;
    font-weight: 700;
    color: var(--ion-color-medium);
}

.description {
    text-align: center;
}

.button{
    text-align: center;
}

.center{
    text-align: center;
}