<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="buttonText" [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      Nuovo Personale
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="ion-padding">
    <ion-item class="text-center">
      <ion-label position="stacked">Nome Personale:</ion-label>
      <ion-input id="nomePersonale" [(ngModel)]="personale.nome"></ion-input>
    </ion-item>

    <ion-item class="text-center">
      <ion-label position="stacked">Cognome Personale:</ion-label>
      <ion-input id="cognomePersonale" [(ngModel)]="personale.cognome"></ion-input>
    </ion-item>

    <ion-item class="text-center">
      <ion-label position="stacked">Email:</ion-label>
      <ion-input id="emailPersonale" [(ngModel)]="personale.email"></ion-input>
    </ion-item>
    
      <br>
      <br>

      <ion-button color="danger" class="center" (click)="inserisciPersonale()" slot="end">INSERISCI</ion-button>

  </div>


</ion-content>