<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="secondary">
      <ion-button (click)="filtraProdotti()">
          <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" [(ngModel)]="tipo" (ngModelChange)="filtraProdotti()">
              <ion-select-option selected="Tutti" id="ion-selopt-0" value="Tutti">Tutti
              </ion-select-option>
                <ion-select-option role="option" id="ion-selopt-1" value="Primo piatto">Primo Piatto
                </ion-select-option>
                <ion-select-option role="option" id="ion-selopt-2" value="Secondo piatto">Secondo Piatto
                </ion-select-option>
                <ion-select-option role="option" id="ion-selopt-3" value="Bibita">Bibita
                </ion-select-option>
                </ion-select>
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Visualizza Prodotti
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

   


    <ion-searchbar showCancelButton="always" id="testo" [(ngModel)]="text" (ngModelChange)="search()"></ion-searchbar>


  <ion-grid>
    <ion-row *ngFor="let prodotto of visualizzaProdotti">
      <ion-col size="10.5">
        <ion-item (click)="openModal2(prodotto.id)">
          <ion-avatar slot="start" class="ios hydrated">
            <img src={{prodotto.linkImmagine}}>
          </ion-avatar>
          <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
            <h2 style="font-weight: bold">{{prodotto.nome}}</h2>
            <h3 style="font-style: italic">{{prodotto.descrizione}}</h3>
          </ion-label>
          <ion-note slot="end" style="font-size: medium"> € {{prodotto.prezzo}}
          </ion-note>
        </ion-item>
      </ion-col>
      <ion-col size="1.5" style="top:0;
      bottom: 0;
      left: 0;
      right: 0;
        
      margin: auto;
      text-align:center">
        <ion-icon name="cart" (click)="aggiungiAlCarrello(prodotto)"></ion-icon>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>